.book {
  iframe {
    width: 100%;
    border: none;
  }
  .navbar {
    #site-title a {
      height: 30px;
    }
    .navbar-inner {
      max-width: none;
    }
  }
  @media screen and (min-width: 701px) {
    .navbar {
      #logo-replace {
        padding: 10px 10px 10px 10px;
        width: 188px;
        a {
          height: 50px;
          width: 158px;
        }
      }
      .rhold {
        padding: 18px 0 10px 0;
        vertical-align: top;
      }
      #site-title {
        a {
          height: 15px;
        }
      }
    }
  }
}

.book-item .cover-image {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}