.detail-item {
  /*  */
  height: auto;
  max-width: 900px;
}

.detail-item .book-title {
  font-size: 3rem;
  line-height: 1.2;
  padding-bottom: 8px;
}

.detail-item .img-hold {
  float: left;
  margin-right: 15px;
  width: 27%;
  max-width: 160px;
  height: auto;
}

.detail-item .img-hold img {
  width: 100%;
  height: auto;
}

.detail-item .infolabel {
  color: #999;
}

.detail-item .buttons {
  text-align: right;
  margin-right: 10px;
  margin-top: 30px;
}

.detail-item .book-info .social {
  float: left;
  margin: 28px 33px 0 0;
  min-height: 60px;
}

.detail-item .sharelabel {
  text-transform: uppercase;
  padding-bottom: 3px;
  color: #555;
  font-family: "Gotham SSm 3r", "Gotham SSm A", "Gotham SSm B", $sans-fonts;
}

.detail-item .rights-info {
  padding-top: 2em;
  font-size: 1.3rem;
  max-width: 70rem;
  clear: left;
}

.detail-item .rights-info img {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 5px;
}

.detail-item .item-link {
  float: right;
  margin: 20px;
}

.detail-item #description {
  margin-top: 10px;
}

.detail-item #description {
  margin-top: 10px;
}

.detail-item p#book-description {
  margin: 0;
  padding: 0;
}